<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="en">Buckaroo Payments (former Sisow)</label>
    <label lang="de">Buckaroo Payments (former Sisow)</label>
    <label lang="nl">Buckaroo Payments (former Sisow)</label>

    <version>5.3.0</version>
    <copyright>(c) Buckaroo B.V.</copyright>
    <link>https://www.buckaroo.nl</link>
    <author>Buckaroo</author>

    <compatibility minVersion="5.2.13"/>

    <description lang="de">Dieses Plug-In installiert alle Buckaroo-Zahlungsmethoden für Ihre Shopware-Installation. Weitere Informationen zu den Zahlungsmethoden finden Sie auf unserer Website https://www.buckaroo.eu/solutions/payment-methods</description>
    <description lang="en">This plug-in will install all the Buckaroo payment methods to your Shopware installation. For more information about the payment methods visit our website https://www.buckaroo.eu/solutions/payment-methods</description>
    <description lang="nl">Deze plug-in installeert alle betaalmethoden van Buckaroo op uw Shopware-installatie. Voor meer informatie over de betaalmethoden bezoek onze website https://www.buckaroo.nl/oplossingen/betaalmethoden</description>

</plugin>
