<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="text" scope="locale">
            <name>merchantid</name>
            <label lang="de">Website Key</label>
            <label lang="en">Website Key</label>
            <label lang="nl">Website Key</label>
            <value></value>
            <description lang="en">The website key can be found in the Buckaroo Plaza under → My Buckaroo → Websites. Using the filter button at the top right, you can then switch between multiple websites (if multiple websites are linked within the same Buckaroo account).</description>
            <description lang="nl">De website key is te vinden in de Buckaroo Plaza onder → Mijn Buckaroo → Websites. Met behulp van de filterknop rechtsboven kun je vervolgens switchen tussen meerdere websites (als er meerdere websites zijn gekoppeld binnen hetzelfde Buckaroo-account).</description>
        </element>

        <element required="true" type="text" scope="locale">
            <name>merchantkey</name>
            <label lang="de">Secret Key</label>
            <label lang="en">Secret Key</label>
            <label lang="nl">Secret Key</label>
            <value></value>
            <description lang="en">Can be set in the Buckaroo Plaza at → Configuration → Security → Secret Key.</description>
            <description lang="nl">In te stellen in de Buckaroo Plaza op → Configuratie → Beveiliging → Secret Key.</description>
        </element>

        <element required="false" type="text" scope="shop">
            <name>shopid</name>
            <label lang="de">Shop ID</label>
            <label lang="en">Shop ID</label>
            <label lang="nl">Shop ID</label>
            <value></value>
            <description lang="en">Field is no longer mandatory </description>
            <description lang="nl">Veld ons niet langer verplicht.</description>
        </element>

        <element required="false" type="boolean" scope="locale">
            <name>testmode</name>
            <label lang="de">Testmodus aktiv</label>
            <label lang="en">Testmode active</label>
            <label lang="nl">Testmode aktief</label>
            <value></value>
            <description lang="en">Activate Buckaroo test mode.</description>
            <description lang="de">Buckaroo test mode aktivieren.</description>
            <description lang="nl">Activeer Buckaroo test modus.</description>
        </element>

        <element required="false" type="text" scope="locale">
            <name>description</name>
            <label lang="de">Beschreibung Kontoauszugn</label>
            <label lang="en">Description bank statement</label>
            <label lang="nl">Omschrijving bankafschrift</label>
            <value></value>
            <description lang="en">Description which the consumer sees on his / her bank statement. ([name] is replaced with shop name).</description>
            <description lang="de">Beschreibung, die der Verbraucher auf seinem Kontoauszug sieht. ([name] wird durch den Shopnamen ersetzt).</description>
            <description lang="nl">Omschrijving welke de consument ziet op zijn/haar bankafschrift. ([name] wordt vervangen voor shopnaam).</description>
        </element>
    </elements>
</config>